#TB_window.thickbox-loading {
    width: 700px !important;
    height: 200px !important;
    margin-top: 100px !important;
    background-color: red !important;
    color: white !important;
    font-weight: 900 !important;
}

.text-modal{
    font-size: 1rem;
    text-align: center;
}

#TB_ajaxWindowTitle{
    color: red;
}
